@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #111132, #0c0c1d);
    overflow: hidden;
    position: relative;
    padding: 20px;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            @include tablet {
                height: 70%;
                width: 70%;
                gap: 30px;
                align-items: flex-start;
                text-align: left;
            }

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;

                @include mobile {
                    font-size: 36px;
                }

                @include tablet {
                    font-size: 60px;
                }
            }

            .buttons {
                display: flex;
                gap: 20px;
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: 300;
                    z-index: 999;
                }
            }
            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        top: 0;
        right: 40px;
        position: relative;

        @include mobile {
            height: 100%;
            width: 100%;
            right: 0;
            bottom: 0;
            top: unset;
            position: absolute;
        }

        @include tablet {
            height: 100%;
            width: 50%;
            right: 0;
            bottom: 0;
            top: unset;
            position: absolute;
        }

    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: 0;
        white-space: nowrap;
        color: #ffffff09;
        bottom: -120px;
        width: 50%;
        font-weight: bold;
    }
}