@import "../../app.scss";

.contact {
    display: flex;
    height: 100%;
    background: linear-gradient(180deg,#191952, #0c0c1d);

  .wrapper {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }

    @include tablet {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          gap: 20px;
          text-align: center;
          align-items: center;
          margin-top: 70px;
        }

        @include tablet {
          gap: 20px;
          text-align: center;
          align-items: center;
          margin-top: 70px;
        }
    
    
        h1 {
          font-size: 100px;
          line-height: 88px;

          @include mobile {
            font-size: 36px;
          }
    
        }
    
        span {
          font-weight: 300;
        }
      }
    
      .formContainer {
        flex: 1;
        position: relative;

        @include mobile {
          padding: 50px;
          width: 100%;
        }

        @include tablet {
          padding: 50px;
          width: 100%;
        }
    
        .phoneSvg {
          stroke: orange;
          position: absolute;
          margin: auto;
          z-index: -1;
        }
    
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
    
          input,
          textarea {
            padding: 20px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            border-radius: 5px;

            @include mobile {
              padding: 10px;
            }

            @include tablet {
              padding: 10px;
            }
    
          }
    
          button {
            padding: 20px;
            border: none;
            border-radius: 5px;
            background-color: orange;
            cursor: pointer;
            font-weight: 500;

            @include mobile {
              padding: 10px;
            }

            @include tablet {
              padding: 10px;
            }
          }
        }
    }
  }


  
  }
